<div class="container mt-5">
  <%= simple_form_for @resource do |f| %>
    <%= f.error_notification %>
    <%= f.input :link, label: "adresse du lien" %>
    <%= f.input :description, label: "courte description" %>
    <p>Public :</p>
    <div class="form-inline">
      <div class="pr-2">
        <%= f.input :kids, label: "Enfants", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
      <div class="">
        <%= f.input :adults, label: "Adultes", as: :boolean, checked_value: true, unchecked_value: false%>
      </div>
    </div>
    <p>Objectif :</p>
    <div class="form-inline">
      <div class="pr-2">
        <%= f.input :fun, label: "Divertissement", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
      <div class="">
        <%= f.input :learn, label: "Apprentissage", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
    </div>
    <p>Type d'activité :</p>
    <div class="form-inline">
      <div class="pr-2">
        <%= f.input :read, label: "Lire", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
      <div class="pr-2">
        <%= f.input :listen, label: "Écouter", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
      <div class="pr-2">
        <%= f.input :play, label: "Jouer", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
      <div class="pr-2">
        <%= f.input :make, label: "Créer", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
      <div class="">
        <%= f.input :watch, label: "Regarder", as: :boolean, checked_value: true, unchecked_value: false %>
      </div>
    </div>
    <%= f.button :submit, value: "Envoyer", class: "btn-primary" %>
  <% end %>
</div>
