<%= link_to root_path do %>
  <%= image_tag "logo.png", alt: "logo", class: "logo" %>
<% end %>
<div class="container">
  <h1>Comme à la maison</h1>
  <h4>liste de ressources <strong>gratuites</strong></h4>

  <div class="search"></div>

  <div class="resource-new">
    <i class="fas fa-long-arrow-alt-right"></i>
    <%= link_to "proposer une resource", new_resource_path %>
  </div>

  <% @resources.each do |resource| %>
    <div class="resource-card">
      <p><%= link_to resource.link, resource.link %></p>
      <p><%= resource.description %></p>
      <div class="d-flex justify-content-between mb-4">
        <div class="public">
          <%= adult_icon(resource) %>
          <%= kid_icon(resource) %>
        </div>
        <div class="objectif">
          <%= learn_icon(resource) %>
          <%= fun_icon(resource) %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="activity-type">
          <%= read_icon(resource) %>
          <%= listen_icon(resource) %>
          <%= watch_icon(resource) %>
          <%= play_icon(resource) %>
          <%= make_icon(resource) %>
        </div>
      </div>
    </div>
  <% end %>

</div>


