<div class="container">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", alt: "logo" %>
  <% end %>
  <h1>Comme à la maison</h1>
  <h4>liste de ressources <strong>gratuites</strong></h4>

  <div class="search"></div>

  <%= link_to "proposer une resource", new_resource_path %>

  <% @resources.each do |resource| %>
    <div class="resource-card">
      <p><%= link_to resource.link, resource.link %></p>
      <p><%= resource.description %></p>
      <%= public_icon(resource) %>
      <%= objectif_icon(resource) %>
      <%= activities_icon(resource) %>
    </div>
  <% end %>
 <p>toto</p>
</div>


